/* RESET */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#f4fff4;
    color:#333;
    transition:.4s;
}

header{
    position:fixed;
    top:0;
    width:100%;
    background:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 8%;
    box-shadow:0 2px 10px rgba(0,0,0,.1);
    z-index:1000;
}

.logo{
    font-size:1.5rem;
    font-weight:bold;
    color:#2e7d32;
}

nav ul{
    list-style:none;
    display:flex;
    gap:20px;
}

nav a{
    text-decoration:none;
    color:#333;
    padding:8px 15px;
    border:2px solid transparent;
    border-radius:30px;
    transition:.3s;
}

nav a.active{
    border:2px solid #2e7d32;
}

nav a:hover{
    background:#2e7d32;
    color:white;
}

#darkModeBtn{
    background:#2e7d32;
    color:white;
    border:none;
    padding:10px 15px;
    border-radius:8px;
    cursor:pointer;
}

.hero{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;

    background:
    linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)),
    url("https://images.unsplash.com/photo-1500937386664-56d1dfef3854?w=1200");

    background-size:cover;
    background-position:center;
    color:white;
}

.hero-text{
    max-width:900px;
}

.hero h1{
    font-size:3rem;
    margin-bottom:20px;
}

.hero p{
    font-size:1.2rem;
    margin-bottom:20px;
}

.hero button{
    padding:15px 30px;
    border:none;
    border-radius:8px;
    background:#4caf50;
    color:white;
    cursor:pointer;
    transition:.3s;
}

.hero button:hover{
    transform:scale(1.05);
}

section{
    padding:100px 8%;
}

section h2{
    text-align:center;
    color:#2e7d32;
    margin-bottom:40px;
}

.cards{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:25px;
    max-width:1000px;
    margin:auto;
}

.card{
    width:300px;
    height:180px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;

    background:white;
    padding:20px;

    border-radius:15px;

    text-decoration:none;
    color:black;

    box-shadow:0 5px 15px rgba(0,0,0,.1);

    transition:.4s;
}

.card h3{
    color:#2e7d32;
    margin-bottom:10px;
}

.card:hover{
    transform:translateY(-10px);
    background:#e8f5e9;
}

.tema{
    text-align:center;
}

.tema img{
    width:100%;
    max-width:800px;
    border-radius:15px;
    margin:20px 0;
}

.tema p{
    max-width:900px;
    margin:auto;
    line-height:1.8;
}

form{
    display:flex;
    flex-direction:column;
    gap:15px;
    max-width:500px;
    margin:auto;
}

input{
    padding:15px;
}

form button{
    padding:15px;
    border:none;
    background:#2e7d32;
    color:white;
    cursor:pointer;
}

footer{
    background:#1b5e20;
    color:white;
    text-align:center;
    padding:30px;
}

.dark{
    background:#121212;
    color:white;
}

.dark header{
    background:#1f1f1f;
}

.dark .card{
    background:#222;
    color:white;
}

.dark section h2{
    color:#81c784;
}

@media(max-width:950px){

    .card{
        width:280px;
    }

}

@media(max-width:900px){

    header{
        flex-direction:column;
        gap:15px;
    }

    .hero h1{
        font-size:2rem;
    }

    .cards{
        flex-direction:column;
        align-items:center;
    }

}

@media(max-width:600px){

    nav ul{
        flex-direction:column;
        text-align:center;
    }

    .hero h1{
        font-size:1.6rem;
    }

}